<h1>プロフィール</h1>
<%= link_to '編集する', users_profile_edit_path %>
<h3>ユーザーネーム</h3>
<%= @user.name %>
<h3>アイコン画像</h3>
<% if @user.icon_image? %>
  <%= image_tag @user.icon_image.url %>
<% else %>
  <%= image_tag '/assets/default_icon.png', :alt => 'ユーザーアイコン' %>
<% end %>
<h3>自己紹介</h3>
<%= @user.introduction %>