<h1>POTEPAN SHAREでまだ体験したことのない旅をしよう</h1>
<h5>エリア検索</h5>
<div>
  <%= form_with model: @room, url: "/search", method: :get, local: true do |form| %>
    <%= form.label :area, "Search for" %>
    <%= form.text_field :area %>
    <%= form.submit "検索" %>
  <% end %>
</div>
<h5>フリーワード検索</h5>
<div>
  <%= form_with model: @room, url: "/search", method: :get, local: true do |form| %>
    <%= form.label :keyword, "Search for" %>
    <%= form.text_field :keyword %>
    <%= form.submit "検索" %>
  <% end %>
</div>

<h3>おすすめエリア</h3>
<span><%= link_to '東京エリア', controller: :searches, action: :search, area: '東京' %></span>
<span><%= link_to '大阪エリア', controller: :searches, action: :search, area: '大阪' %></span>
<span><%= link_to '京都エリア', controller: :searches, action: :search, area: '京都' %></span>
<span><%= link_to '札幌エリア', controller: :searches, action: :search, area: '札幌' %></span>