<h3 class="text-center mt-2">確認画面</h3>
<div class="bg-light w-50 mx-auto mb-3 d-flex flex-column align-items-center">
  <%= render 'shared/error', obj: @reservation %>
  <table class="table table-striped">
    <tr>
      <th>チェックイン日</th>
      <td><%= @reservation.check_in_date.to_s(:date_jp) %></td>
    </tr>
    <tr>
      <th>チェックアウト日</th>
      <td><%= @reservation.check_out_date.to_s(:date_jp) %></td>
    </tr>
    <tr>
      <th>宿泊日数</th>
      <td><%= @stay_duration %></td>
    </tr>
    <tr>
      <th>人数</th>
      <td><%= @reservation.person %></td>
    </tr>
    <tr>
      <th>支払い金額</th>
      <td>¥<%= @total_price.to_s(:delimited) %> -</td>
    </tr>
  </table>

  <%= form_with model: @reservation, url: reservations_path(@reservation), method: :post do |f| %>
    <%= f.hidden_field :check_in_date, value: @reservation.check_in_date %>
    <%= f.hidden_field :check_out_date, value: @reservation.check_out_date %>
    <%= f.hidden_field :person, value: @reservation.person %>
    <%= f.hidden_field :total_price, value: @total_price %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :room_id, value: @reservation.room_id %>
    <div class="d-grid gap-2 mb-4">
      <%= f.submit '予約を確定する', class:"btn btn-success" %>
  <% end %>
      <%= link_to 'キャンセル', :back, class:"btn btn-outline-dark" %>
    </div>
</div>
