<h3>施設予約</h3>
<%= render 'shared/error', obj: @reservation %>
<%= form_with model: @reservation do |f| %>
  <table>
    <tr>
      <th><%= f.label :check_in_date ,"チェックイン日" %></th>
      <td><%= f.date_field :check_in_date %></td>
    </tr>

    <tr>
      <th><%= f.label :check_out_date ,"チェックアウト日" %></th>
      <td><%= f.date_field :check_out_date %></td>
    </tr>

    <tr>
      <th><%= f.label :person ,"人数" %></th>
      <td><%= f.number_field :person, in: 1..10 %></td>
    </tr>
  </table>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :room_id, value: @room_id %>
  <div>
    <ul>
      <li><%= f.submit "予約する"%></li>
      <li><%= link_to "予約一覧に戻る", :reservations %></li>
    </ul>
  </div>
<% end %>