<h2>Results index</h2>
<%= "#{@records.count}"%> 件が見つかりました。
<table> 
  <tbody>
      <% @records.each do |data| %>
        <tr>
          <td><%= data.room_name%></td>
          <td><%= data.room_address %></td>
          <td><%= data.room_introduction %></td>
          <td><%= data.price_per_day %></td>
          <td><%= link_to '詳細はこちら', data %></td>
        </tr>
      <% end %>
  </tbody>
</table>
