<div class="m-3">
  <span class="fs-4"><%= "#{@records.count}"%></span> 件が見つかりました。
</div>
<div class="container-fluid"> 
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <% @records.each do |data| %>
      <div class="col">
        <div>
          <% if data.room_image? %>
            <%= image_tag data.room_image.url, class:"img-fluid rounded" %>
          <% else %>
            <%= image_tag '/assets/default_room_image.png', :alt => '施設画像', class:"img-fluid rounded" %>
          <% end %>
        </div>
        <div><%= data.room_name%></div>
        <div><%= data.room_address %></div>
        <div><%= data.room_introduction %></div>
        <div><%= data.price_per_day %></div>
        <div><%= link_to '詳細はこちら', data %></div>
      </div>
    <% end %>
  </div>
</div>
