<h3 class="m-3">登録済み一覧</h3>
<div>
  <table class="table table-borderd">
  <thead>
    <tr>
      <th>施設画像</th>
      <th>施設名</th>
      <th>施設詳細</th>
      <th>料金<span class="fw-light">/日</span></th>
      <th>作成日</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr class="align-middle">
        <td>
        <% if room.room_image? %>
          <%= link_to image_tag(room.room_image.url, size:"120x69", class:"rounded"), room %>
        <% else %>
          <%= link_to image_tag('/assets/default_room_image.png', :alt => '施設画像', size:"120x69", class:"rounded"), room %>
        <% end %>
        </td> 
        <td><%= link_to room.room_name, room %></td>
        <td><%= room.room_introduction %></td>
        <td>¥<%= room.price_per_day %>〜</td>
        <td><%= room.created_at.to_s(:date_jp_b) %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>