<%= link_to '← 戻る', :back, class:"fs-5 m-4", style:"text-decoration: none;" %>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div>
        <% if @room.room_image? %>
          <%= image_tag @room.room_image.url, class:"img-fluid" %>
        <% else %>
          <%= image_tag '/assets/default_room_image.png', :alt => '施設画像', class:"img-fluid" %>
        <% end %>
      </div>
    </div>
    <div class="col-6 bg-success bg-opacity-25 d-flex flex-column justify-content-around ps-4">
      <div>
        <div class="display-6"><%= @room.room_name %></div>
        <div><%= @room.room_address %></div>
      </div>
      <div>
        <div><%= @room.room_introduction %></div>
      </div>
      <div>
        <div class="display-6 text-success">¥<%= @room.price_per_day.to_s(:delimited) %>〜</div>
      </div>
      <div class="text-center">
        <%= link_to '予約する', new_reservation_path(room_id: @room.id), class:"btn btn-success btn-lg" %>
      </div>
    </div>
  </div>
</div>
