<!DOCTYPE html>
<html>
  <head>
    <title>BookingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to "アカウント設定", users_account_path %>
      </li>
      <li>
        <%= current_user.name %>
      </li>
      <li>
        <% if current_user.icon_image? %>
          <%= image_tag current_user.icon_image.url %>
        <% else %>
          <%= image_tag '/assets/default_icon.png', :alt => 'ユーザーアイコン' %>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規作成", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
    </header>
    <%= yield %>
  </body>
</html>
